# AI Monitor Go backend runtime config

GIN_MODE=release
AI_MONITOR_RELEASE_ROOT=/opt/ai-monitor/current
AI_MONITOR_DB_PATH=/var/lib/ai-monitor/aimonitor.db
AI_MONITOR_BACKEND_PORT=8090
AI_MONITOR_ZLM_BASE_URL=http://127.0.0.1:8001
AI_MONITOR_ZLM_SECRET=vEq3Z2BobQevk5dRs1zZ6DahIt5U9urT
AI_MONITOR_PYTHON_URL=http://127.0.0.1:9500
AI_MONITOR_INFER_URL=http://127.0.0.1:8080
AI_MONITOR_MODELS_DIR=/opt/ai-monitor/current/models
AI_MONITOR_SNAPSHOT_DIR=/var/lib/ai-monitor/snapshots
AI_MONITOR_AUDIO_DIR=/opt/ai-monitor/current/audio

